{% extends 'base.html' %}

{% block title %}
<title>edit task</title>
{% endblock title %}

{% block content %}
<br>
<div class="container">

{% if task_obj.manage == request.user %}

<form method="POST" class="row">
{% csrf_token %}
    <label class="col-lg-2"></label>
    <input type="text" class="form-control col-lg-6" name="task" placeholder="{{ task_obj.task }}" value="{{ task_obj.task }}">
    <input type="hidden" name="done" value="{{ task_obj.done }}">
    <button type="submit" class="btn btn-primary col-lg-2">update task</button>
</form>

{% else %}
    <p>access restricted, you are not allowed!</p>
{% endif %}

{% endblock content %}
